

 <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
 <div class="form-group">
  <div class="control-label col-sm-2">
   <%= f.label :email %>
  </div>
  <div class="col-sm-8">
   <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
  </div>
 </div>
 <div class="form-group">
  <div class="control-label col-sm-2">
   <%= f.label :password %>
  </div>
  <div class="col-sm-8">
   <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>
 </div>  
 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
   <%= f.submit "Log in", class: 'btn btn-primary btn-large' %>
  </div>
 </div>
 <% end %> 
