<h2 align='center'>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {class: "form-horizontal", role: "form"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :email %>
    </div>
    <div class="col-sm-8">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control", placeholder: "Enter email"%>
  </div>
  </div>
  <br>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :password %><br/>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    </div>
    <div class="col-sm-8">
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control" , placeholder: "Write your password here"%>
  </div>
  </div>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :password_confirmation %><br />
    </div>
     <div class="col-sm-8">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" , placeholder: "Write your password again!" %>
  </div>
  </div>

  <div align="center" class="actions">
    <%= f.submit "Sign up",class: 'btn btn-primary btn-large' %>
  </div>
  
<% end %>
<br>
<div align="center">
<%= render "devise/shared/links" %>
</div>
