<h1 align="center">Welcome to <%= @user.email%>'s page</h1>
<div class="row">
 <div class="col-md-4 col-md-offset-5 center">
  <%= gravatar_for @user, size: 150 %>
 </div>
</div>
<h4 align="center"><%= @user.email %>'s posts</h4>
<div align="center" class="action">
<%= link_to  "Logout", destroy_user_session_path , method: :delete,data: { confirm: "Are you sure you want to log out?"},class: 'btn btn-primary btn-large'%>
</div>
<br>
<%= render 'shared/post', obj: @user.posts%>

