<h2 align="center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,class: "form-horizontal", role: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :email %><br />
    </div>
    <div class="col-sm-8">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder: "Enter email" %>
  </div>
  </div>

  <div align="center" class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
<br>
<div align="center">
<%= render "devise/shared/links" %>
</div>
