<% obj.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to post.title, post_path(post) %>
        </div>
        <div class="article-body">
          <%= truncate(post.body, length: 100) %>
          <div class="article-meta-details">
          <small>Created by: <%= post.user.username if post.user %>,
                    <%= time_ago_in_words(post.created_at) %> ago,
                    last updated: <%= time_ago_in_words(post.updated_at) %> ago</small>
          </div>
        </div>
        <div class="article-actions">
        <% if post.user == current_user %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-xs btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>