<h2 align= "center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <div class="control-label col-sm-2">
    <%= f.label :email %>
    </div>
    <div class="col-sm-8">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder: "Enter email" %>
    </div>
  </div>

  <div class="form-group">
  <div class="control-label col-sm-2">
    <%= f.label :password %>
    </div>
    <div class="col-sm-8">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div align="center" class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div align='center' class="actions">
    <%= f.submit "Log in",class: 'btn btn-primary btn-large' %>
  </div><br>
<% end %>

<div align='center'>
<%= render "devise/shared/links" %>
</div>
