<h1 align="center">Edit your Post here</h1>
<%= render 'shared/errors', obj: @post %>

<div class="row">
 <div class="col-xs-12">
  <%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :title %>
   </div>
   <div class="col-sm-6">
    <%= f.text_field :title, class: "form-control", placeholder: "Title of post", autofocus: true %>
   </div>
  </div>
  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :body %>
   </div>
   <div class="col-sm-6">
    <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of post" %>
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: 'btn btn-primary btn-large' %>   
    <%= link_to  "Back to all posts", posts_path ,class: 'btn btn-default btn-large'%>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-default btn-large' %>
   </div>
  </div>
<% end %>
 </div>
</div>

