<h2 align="center">Title: <%= @post.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <% if @post.user %>
 <ul class="listing">
  <div class="row" align="center">
   <div class="col-md-4 col-md-offset-4">
    <li><%= link_to gravatar_for(@post.user), user_path(@post.user) %></li>
    <li class="article-title"><%= link_to @post.user.username, user_path(current_user) %></li>
    <li><small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small></li>
   </div>
  </div>
 </ul> 
 <% end %>
 <h4 class="center description"><strong>Body:</strong></h4>
 <hr>
 <%= simple_format(@post.body) %>
 <div class="article-actions">
 <%= link_to "Edit", edit_post_path(@post), class: "btn btn-xs btn-default" %>
 <%= link_to "Back", posts_path, class: "btn btn-xs btn-default" %>
 <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>

 </div>
</div>