<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to "Espresso Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Create Post", new_post_path %></li>
        <%
=begin%>
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> 
<%
=end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to  "About", about_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to  "profile", user_path(current_user) %></li>
        <%end%>
        <% if !user_signed_in? %>
        <li><%= link_to  "Sign Up", new_user_registration_path %></li>
        <%end%>
        <%
=begin%>
 <li><%= link_to  "logout", destroy_user_session_path , method: :delete,data: { confirm: "Are you sure you want to log out?"}%></li> 
<%
=end%>
       
        <%
=begin%>
 <li><%= link_to  "login", login_path %></li> 
<%
=end%>
         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>