<!DOCTYPE html>
<html>
  <head>
    <title>EspressoBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/navigation"%>
  <%= render 'shared/messages' %>
  <%= yield %>
  <%
=begin%>
 <%= debug(params) if Rails.env.development? %> 
<%
=end%>

  </body>
</html>
